.mt-10{
    margin-top: 150px !important;
}

.fixed-box{
    overflow: hidden;
    position: relative;
}

.meme-s{
    contain: size;
    position: absolute;
    left: 51.2%;
    transform: translate(-50%, -50%);
    color: white !important;
    font-size: 30px;
    font-family:'Droid Arabic Naskh', serif;
    font-weight: bold;
    width: 260px;
    transition: all 0.2s ease 0s;
    text-shadow: 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000;
}

.cstm-card{
    cursor: pointer;
    opacity: 100%;
    transition: 0.2s;
}
.cstm-card:hover{
    opacity: 80%;
    scale: 105%;
    -webkit-box-shadow: 10px 10px 43px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 43px -6px rgba(0,0,0,0.75);
box-shadow: 10px 10px 43px -6px rgba(0,0,0,0.75);
}
.cstm-card:active{
    opacity: 70%;
    scale: 70%;
    transition: 0.2s;
}