.mt-10{
    margin-top: 150px !important;
}

.fixed-box{
    display:inline-block;
    overflow: hidden;
    position: relative;
}

.s-txt{
    text-shadow: 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000;
}

.tbl-input{
    width:100%;
    height:40px;
    border:none;
    text-align:center;
}
td{
    padding: 0px !important;
}
.tbl-input:focus{
    outline:0px!important;
}
::-webkit-scrollbar{
    display:none;
}

.text-area{
    background-color: cornsilk;
    font-family: cursive;
    font-size: 21px;
    height: 500px;
    color: #3a3a3a;
    resize: none;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 25px;
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.meme-s{
    white-space: pre-line;
    contain: size;
    position: absolute;
    left: 51.2%;
    top: 10px;
    transform: translate(-50%, -50%);
    color: white !important;
    font-size: 30px;
    font-family:'Droid Arabic Naskh', serif;
    font-weight: bold;
    width: 260px;
    transition: all 0.2s ease 0s;
    text-shadow: 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000, 
    0 0 1px #000;
}

.t-b{
    -webkit-text-stroke: 1.5px black;
}

.cstm-card{
    cursor: pointer;
    opacity: 100%;
    transition: 0.2s;
}
.cstm-card:hover{
    opacity: 80%;
    scale: 105%;
    -webkit-box-shadow: 10px 10px 43px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 43px -6px rgba(0,0,0,0.75);
box-shadow: 10px 10px 43px -6px rgba(0,0,0,0.75);
}
.cstm-card:active{
    opacity: 70%;
    scale: 70%;
    transition: 0.2s;
}